/* Estilo general del nav */
nav {
    background-color: rgb(25, 183, 231);
    padding: 1rem;
    position: sticky;  /* o 'fixed' si prefieres que esté siempre visible */
    top: 0;
    z-index: 1000;
    box-sizing: content-box;
}

/* Lista horizontal */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: right; /* o space-between o flex-end */
    gap: 2rem;
}

/* Enlaces */
.nav-list a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
}

/* Hover */
.nav-list a:hover {
    color: #f0a500;
    border-bottom: 2px solid #f0a500;
}