<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Columna ERP -->
    <ng-container matColumnDef="ERP">
        <th mat-header-cell *matHeaderCellDef> ERP </th>
        <td mat-cell *matCellDef="let producto"> {{producto.ERP}} </td>
    </ng-container>

    <!-- Columna EAN -->
    <ng-container matColumnDef="EAN">
        <th mat-header-cell *matHeaderCellDef> EAN </th>
        <td mat-cell *matCellDef="let producto"> {{producto.EAN}} </td>
    </ng-container>

    <!-- Columna TIPO -->
    <ng-container matColumnDef="TIPO">
        <th mat-header-cell *matHeaderCellDef> TIPO </th>
        <td mat-cell *matCellDef="let producto"> {{producto.TIPO}} </td>
    </ng-container>    

    <!-- Columna SKU -->
    <ng-container matColumnDef="SKU">
        <th mat-header-cell *matHeaderCellDef> SKU </th>
        <td mat-cell *matCellDef="let producto"> {{producto.SKU}} </td>
    </ng-container>

    <!-- Columna MEDIDA -->
    <ng-container matColumnDef="MEDIDA">
        <th mat-header-cell *matHeaderCellDef> MEDIDA </th>
        <td mat-cell *matCellDef="let producto"> {{producto.MEDIDA}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
  <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>

<mat-paginator [pageSize]="100" [pageSizeOptions]="[50, 100, 500]" showFirstLastButtons></mat-paginator>